project:
  type: website

website:
  title: "Olivia Torresan"
  navbar:
    background: "#AE1313"
    foreground: "#FFFFFF"


 
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

